DialogueNode
DialogueNode.exe

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user*
Makefile*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h

*.slo
*.lo
*.o
*.obj
*.gch
*.pch

.directory
*.user
*.swp
*~

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride
._*